---
layout: default
title: chromy
addBootstrap: true
---
<div class="container">
  {% include masthead.html %}
  <div class="row">
    <div class="col-md-12">
      <p class="bio">
        I study Software Engineering at Imperial College London.<br/>
        Currently I am an intern at Google where I work on the <a href="http://developer.android.com/reference/android/webkit/WebView.html">WebView</a>.<br/>
        My email is <a href="mailto:hectordearman@tacticalgrace.com">hectordearman@tacticalgrace.com</a>.<br/>
        You can get my <a href="/hectordearman.pdf">CV</a> or see my GitHub <a href="http://github.com/chromy">profile</a>.<br/>
        I like Computers.<br/>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Posts</h2>
      <ul class="posts">
        {% for post in site.categories.post %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Projects</h2>
      <ul class="posts">
        {% for post in site.categories.project %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="below">
  <div class="center">
    <img src="/static/img/avatar.png" alt="A picture of my Gravatar" width="256" height="256" class="img-circle center">
  </div>
</div>

