html { 
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Lato', sans-serif;
}

.inner {
    margin: 0 auto;
    padding: 10px 15px;
    width: 600px;
    min-height: 100%;
    color: #111;
}

.subtle {
    color: #555;
}

.posts {
    list-style-type: none;
}

.header {
    text-align: center;
    background-color: #444;
    background-image: url("/static/img/classy_fabric.png");
    min-height: 10em;
    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
}

.header h1 { 
    font-size: 6em;
    margin: 0 0; 
}
.header h3 { 
    margin: 0 0;
}

.header a {
    text-decoration: none;
    color: inherit;
}
.header a:hover {
    text-shadow: none;
    transition: all 0.1s linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left,#ea8711,#d96363,#73a6df,#9085fb,#52ca79);
    background-image: url("/static/img/rainbow.gif");
}


a {
    text-decoration: none;
    color: #2B74FE;
}

a:hover {
    transition: all 0.2s linear;
    color: #BBB;
}

#homelink {
    text-transform: uppercase;
    padding: 5px;
}

