<!DOCTYPE html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="container">
    <header>
      <div class="title"><a href="/">HECTOR DEARMAN.</a></div>
      <p>
      I study Software Engineering at Imperial College in London.<br/>
      You can get my <a href="hectordearman.pdf">CV</a> or see my GitHub <a href="http://github.com/chromy">profile</a>.<br/>
      I like Computers.<br/>
        </p>
    </header>
    <content>
    <div class="header">
        <h1><a href="#">{{ page.title }}</a></h1>
        <h3>{{ page.byline }}</h3>
      </div>
      <div class="subtle">
        <time>{{ page.date | date: "%d %B %Y" }}</time>
        &mdash;
        <place>{{ page.place }}</place>
      </div>
      <br/>
      <div class="bodytext">
        {{ content }}
      </div>
    </div>
    </content>
    {% for js_line in page.extra_javascript %}
      {{ js_line }}
    {% endfor %}
  </div>
  <br/>
</body>
</html>
