<!DOCTYPE html>
<html>
<head>
  {% include header.html %}
</head>
<body>
  <div class="column">
    {% include masthead.html %}
    <article id="content">
    <h1>{{ page.title }}</h1>
    {{ content }}
    <div class="top"><time>{{ page.date | date: "%d %B %Y" }}</time></div>
    </article>
  </div>
  {% include footer.html %}
  {% include javascript.html %}
  <script>
    <!-- Scroll past masthead -->
    document.getElementById('content').scrollIntoView()
  </script>
</body>
</html>

<!-- <h3>{{ page.byline }}</h3> -->
<!--
<div class="subtle">
  <time>{{ page.date | date: "%d %B %Y" }}</time>
  &mdash;
  <place>{{ page.place }}</place>
</div>
-->

